* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div, main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.col:hover {
  background: beige;
}
 
.btn {
    height: 5vh;
    width: 5vw;
    position: fixed;
    left: 911px;
    top: 20vh;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgb(214, 218, 221);
}

